{
  "extends": ["prettier", "prettier/react"],
  "parser": "babel-eslint",
  "globals": {
    "localStorage": true
  },
  "rules": {
    "react/jsx-filename-extensions": [0],
    "import/extensions": "off"
  }
}